body{
    margin: 0;
    font-family: 'Barlow', sans-serif;

}
body a {
    text-decoration:none;
    color: black;
}
header {
   height: 11vh;
   display: flex;
}
header img {
    height: 11vh;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
}
#meny {
    background-color: black;
    height: 4vh;
    display: flex;
    justify-content: space-around;
    margin-top: auto;
    margin-bottom: auto;
}
nav a {
    color: white;
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
}

#kategorier {
    margin-top: auto;
    margin-bottom: auto;
}

#dropdown-content {
    display: none;
}

#dropdown-content.active {
    display: flex;
    background-color: rgb(182, 193, 231);
    height: 4vh;
    justify-content: space-around;
}

#dropdown-content a {
   color: black;
}

#start {
    width: 100vw;
   overflow: hidden;
}
img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

h3, h2{
    text-align: center;
}
section {
    padding: 20px;
    margin: 10px;
}

#b1, #b2, #b3, #b4, #b5, #b6 {
    height: 200px;
}

footer {
    background-color:black;
    height: 6vh;
    position: fixed;
    bottom: 0;
    width: 100vw;
    
}

footer img {
    height: 4vh;
}


#footer {
    height: 4vh; 
    padding: 6px;
    float: right;
   
}

#planering {
    float: left;
    color: white;
    margin-top: 12px;
    margin-left: 4px;
}

#justden {
    overflow: hidden;
        display: grid;
        grid-template-areas: 
        "bye ly"
        "ary ary";
}
#yeezus {
    grid-area: bye;
    padding: 3px;
}
#yeezus1 {
    grid-area: ly;
    padding: 3px;
}
#yeezustext {
    grid-area: ary;
    padding: 3px;
}

@media screen and (min-width: 600px) {
    section {
        overflow: hidden;
        display: grid;
        grid-template-areas: 
        "bi1 ar1"
        "ar2 bi2"
        "bi3 ar3";
    }
    
    #b1 {
        grid-area: bi1;
        padding: 3px;
        align-self: center;
    }
    #a1 {
        grid-area: ar1;
        padding: 3px;
    }
    #b2 {
        grid-area: bi2;
        padding: 3px;
    }
    #a2 {
        grid-area: ar2;
        padding: 3px;
    }
    #b3 {
        grid-area: bi3;
        padding: 3px;
    }
    #a3 {
        grid-area: ar3;
        padding: 3px;
    }

    #b4 {
        grid-area: ar1;
        padding: 3px;
        align-self: center;
    }

    #a4 {
        grid-area: bi1;
        padding: 3px;
    }
    #b5 {
        grid-area: ar2;
        padding: 3px;
    }
    #a5 {
        grid-area: bi2;
        padding: 3px;
    }
    #b6 {
        grid-area: ar3;
        padding: 3px;
    }
    #a6 {
        grid-area: bi3;
        padding: 3px;
}

@media screen and (min-width: 1000px) {
    section {
        display: grid;
        grid-template-areas: 
        "bi1 bi2 bi3"
        "ar1 ar2 ar3";
    }
    
    #b1 {
        grid-area: bi1;
        padding: 3px;
        align-self: center;
    }
    #a1 {
        grid-area: ar1;
        padding: 3px;
    }
    #b2 {
        grid-area: bi2;
        padding: 3px;
    }
    #a2 {
        grid-area: ar2;
        padding: 3px;
    }
    #b3 {
        grid-area: bi3;
        padding: 3px;
    }
    #a3 {
        grid-area: ar3;
        padding: 3px;
    }

    #b4 {
        grid-area: bi1;
        padding: 4px;
        align-self: center;
    }
    #a4 {
        grid-area: ar1;
        padding: 4px;
    }
    #b5 {
        grid-area: bi2;
        padding: 3px;
    }
    #a5 {
        grid-area: ar2;
        padding: 3px;
    }
    #b6 {
        grid-area: bi3;
        padding: 4px;
    }
    #a6 {
        grid-area: ar3;
        padding: 4px;
    }
}

#omoss {
    background-image: url(../img/bergstopp-tapet-3072x576-1736_124.jpg);
    height: 40vh;
}